.homeSongSelectContainer {
    /* border: 3px solid #231f3b; */
    border-radius: 4px;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #6e61b9;
}

/* .grid-container {
    display: flex;
} */

.homeSongDiv {
    /* border: 3px solid #f1f1f1; */
    width: 160px;
    height: 160px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.coverImg {
    /* height: 100%;
    width: 100%; */
    margin: auto;
}

.textDiv {
    
}

.homeSongListText {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeSongListButton {
    width: 160px;
    padding: 6px;
}

.homeButtonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeProfilePic {
    height: 80px;
    margin: auto;
    border-radius: 3px;
}

#welcomeHeading {
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

#welcomeSubHeading {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#dropdownHome{
    display: flex;
    justify-items: right;
}

.dropdown-toggle {
    left: 0;
    margin-left: 0;
}

.songItem {
    display: flex;
    align-items: center;
    width: 45%
}

.buttonItem{
    display: block;
}

#homeBackgroundImage {
    background-image: url("../../assets/images/background\ images/7.jpg");
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#homeBackgroundTexture {
    background-image: url("../../assets/images/background\ images/purple_texture.jpg");
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

#homeSongSelectionRow {
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}

.responsive {
    max-width: 70%;
    height: auto;
}