@media only screen and (max-width: 600px) {
    .logo {
        font-size: 20px;
    }
}

.navElems {
    /* width: 60%; */
    /* display: flex;
    justify-content: flex-end; */
}

.logo {
    display: flex;
    align-items: center;
}

.navLinkList {
    /* display: flex;
    justify-content: flex-end; */
    /* align-items: center; */
}

#navBarBackgroundImage {
    background-image: url("../../assets/images/background\ images/5.jpg");
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* opacity: 0.5; */
    /* filter: alpha(opacity=50);  */
}

#subHeading {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#navRow {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

#heading {
    display: flex;
    justify-content: flex-start;
}