.rowClass {
   justify-content: center;
}

#playSongBackgroundImage {
   background-image: url("../../assets/images/background\ images/8.jpg");
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   /* opacity: 0.5;
   filter: alpha(opacity=50);  */
}

.emojiDetail {

}

.emojiBar {
   
}