
#footerBackgroundImage {
    background-color: #6e61b9;
    /* background-image: url("../../assets/images/background\ images/7.jpg");
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    /* opacity: 0.5; */
    /* filter: alpha(opacity=50);  */
}
