/* Bordered form */
form {
    border: 3px solid #ffffff;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    background-color: #ffffff;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 20%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .signUpContainer {
    padding: 16px;
    background-color: #fafafa;
  }

  .signUpImg {
    height: 150px;
  }

  /* .drawingMic {
    height: 100px;
  }
  
  .drawingEmoji {
    height: 80px;
  } */

#signUpBackgroundImage {
  background-image: url("../../assets/images/background\ images/7.jpg");
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#homeBackgroundTexture {
  background-image: url("../../assets/images/background\ images/purple_texture.jpg");
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
}