@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Kenwave Regular';
  src: url('../fonts/Knewave-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Music For Your Ears';
  src: url('../fonts/Music\ For\ Your\ Ears.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Shadows Into Light Two Regular';
  src: url('../fonts/ShadowsIntoLightTwo-Regular.ttf'); /* IE9 Compat Modes */
}

/* 
body {
  font-family: 'Kenwave Regular';
} */