 .pageTitle {
    margin: auto;
    text-align: center;
 }

 .rowClass {
   justify-content: center;
   margin-top: 50px;
 }

 #recordSongBackgroundImage {
   background-image: url("../../assets/images/background\ images/8.jpg");
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   /* opacity: 0.5;
   filter: alpha(opacity=50);  */
 }

 .modal {
  background-image: url("../../assets/images/background\ images/8.jpg");
}


.my-modal {
  width: 90vw;    /* Occupy the 90% of the screen width */
  max-width: 90vw;
  height: 100vw;    /* Occupy the 90% of the screen width */
  max-height: 100vw;
} 

.my-modal2 {
  width: 90vw;    /* Occupy the 90% of the screen width */
  max-width: 90vw;
  height: 100vw;    /* Occupy the 90% of the screen width */
  max-height: 100vw;
} 